@model TallinnaRakenduslikCollegeTARpe24_StenUesson.Models.Delinquent

@{
    ViewData["Title"] = "Uus kursus";
}
<h1>Tee uus kursus</h1>
<h4>Sisesta info:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="from-group">
                <label asp-for="DelinquentID" class="control-label"></label>
                <input asp-for="DelinquentID" class="form-control">
                <span asp-validation-for="DelinquentID" class="text-danger"></span>
            </div>

            <div class="from-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="from-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="from-group">
                <label asp-for="teacherOrStudent" class="control-label"></label>
                <select asp-for="teacherOrStudent" class="form-control" asp-items="ViewBag.DelinquentID">
                    <option value="" class="form-control"> --Vali osakond--</option>
                </select>
                <span asp-validation-for="teacherOrStudent" class="text-danger"></span>
            </div>

            <div class="from-group">
                <label asp-for="violtaions" class="control-label"></label>
                <select asp-for="violtaions" class="form-control" asp-items="ViewBag.DelinquentID">
                    <option value="" class="form-control"> --Vali osakond--</option>
                </select>
                <span asp-validation-for="violtaions" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Tee uus" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-outline-primary">Tühista</a>
            </div>
        </form>
    </div>
</div>