@model TallinnaRakenduslikCollegeTARpe24_StenUesson.Models.Delinquent

@{
	ViewData["Title"] = "Edit Delinquent";
}

<h1>Muuda Delinquent</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="@Model.DelinquentID" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div>
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="ViolationDescription" class="control-label"></label>
				<input asp-for="ViolationDescription" class="form-control" />
				<span asp-validation-for="ViolationDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="teacherOrStudent" class="control-label"></label>
				<select asp-for="teacherOrStudent" class="control-label">
					<option value="">-- Select Position --</option>
					<option value="Student">Student</option>
					<option value="Instructor">Instructor</option>
				</select>
				<span asp-validation-for="teacherOrStudent" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="violtaions" class="control-label"></label>
				<select asp-for="violtaions" class="control-label">
					<option value="">-- Select Violation --</option>
					<option value="AI_User">AI User</option>
					<option value="Bullying">Bully</option>
					<option value="Smoking">Smoker</option>
					<option value="IPhoneUser">IPhone User</option>
					<option value="Vandalism">Vandalism</option>
				</select>
				<span asp-validation-for="violtaions" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" asp-route-id="@Model.DelinquentID" value="Edit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Mine tagasi loendisse</a>
</div>